<h1>Add a task to <%= @list.name() %></h1>

<form action="/tasks" method="post">
  <input id='list_id' name='list_id' type='hidden' value='<%= @list.id() %>'>

  <div class="form-group">
    <label class = "form-label" for='description'>Write a description of your task:</label>
    <input class = "form-control" id = 'description' name = 'description' type='text' placeholder="Task Description" autofocus>
  </div>
  <div class="form-group">
    <label class ="form-label" for='due'> Assign a due date to your task:</label>
    <input class ="form-control" id = 'due' name = 'due' type='text' placeholder="YYYY-MM-DD HH:MM:SS">
  </div>
  <div class="span7 text-center">
    <button type='submit' class="button button-add center btn">Add task</button>
  </div>
</form>

<hr>

<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %> - due <%= task.due() %> [<a href="/delete_task/<%= task.id()%>">x</a>]</li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no tasks on this list!</p>
  <% end %>

<hr>

<div class="span7 text-center">
  <a href="/"><button class="button button-back center btn">Return to main page</a>
</div>
